{% extends 'base.html.twig' %}
{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#">Admin</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="{{ path('person_index') }}">Person</a>
            </li>
            <li>
                <a href="{{ path('category_index') }}">Category</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li >
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
{% endblock %}